.top-open-bar {
  padding-top: 4px;
  border: 4px solid gray;
  text-align: center;
  align-items: center;
}
body {
  background-color: 	#282828;
  font-family: fantasy;
}
.panel-heading {
  text-align: center;
  background-color: #222;
  color: green;
  border-bottom: 1px solid white;
}
.panel-body {
  background-color: #222;
  color: #9d9d9d;
}
.panel-footer {
  text-align: center;
  background-color: #222;
  color: red;
}
.navbar-bottom-edge {
  position: absolute;
  bottom: auto;
}
.pic1 {
  float: left;
}
.pic2 {
  float: right;
}
strong {
  font-weight: bolder;
}
span {
  color: blue;
}
